<main id="root">Static page</main>

<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>



<script type="text/javascript">
   window.xIcon = "<%= image_url('xxx.png') %>"
   window.earth = "<%= image_url('earth.png') %>"
   window.icon = "<%= image_url('fcon.jpg') %>"
   window.search = "<%= image_url('search.png') %>"
   window.search = "<%= image_url('search.png') %>"
   window.posture = "<%= image_url('posture.png') %>"
   window.like = "<%= image_url('thumb-up-button.png') %>"
   window.dislike = "<%= image_url('thumb-down-button.png') %>"
   window.sample = "<%= image_url('sample.png') %>"
   window.write = "<%= image_url('write.png') %>"
   window.chart = "<%= image_url('chart.png') %>"
   window.giftbox = "<%= image_url('giftbox.png') %>"
   window.book = "<%= image_url('book.png') %>"
</script>
