<!DOCTYPE html>
<html>
  <head>
    <title>TickStarter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('fcon.jpg') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src="https://kit.fontawesome.com/2daa6adbf1.js" crossorigin="anonymous"></script>

    <meta property="og:title" content="TickStarter" />
    <meta property='og:image' content="https://user-images.githubusercontent.com/71399999/112495683-7ede4100-8d5a-11eb-9804-8a0d571c9820.gif"/>
    <meta property="og:description"
      content="Tickstarter, a clone of Kickstart, is a platform application that allows individuals to crowdsource funding from other users for ideas."
    />
    <meta property="og:url"
      content="https://tickstarter.herokuapp.com/#/"
    />

  </head>

  <body>
    <%= yield %>
  </body>
</html>
